.App-header{
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  color: palevioletred;
}
.box{
  margin:20px;
  border:2px solid black;
  border-radius: 5px;
  width:275px;
  background-color: cornsilk;
}

